@import "compass/css3";

$color-link: #056cc1;
$color-white: #fff;
$font-size: 16px;
$offset-horizontal: 20px;
$offset-vertical: 10px;
$border-radius: 3px;

.ui-component {
  button {
    @include border-radius($border-radius);
    background-color: $color-link;
    color: $color-white;
    font-size: $font-size;
    padding: $offset-vertical $offset-horizontal;

    &:hover {
      background-color: lighten($color-link, 5%);
      cursor: pointer;
    }
  }
}
